@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

button,
input[type="submit"] {
  background: none;
  cursor: pointer;
}

input:focus,
button:focus {
  outline: none;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #1e313b;
  line-height: 27px;
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

h2 {
  font-size: 32px;
}

.container {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
}

.container__black {
  background-color: #1e313b;
}

.container__gray {
  background-color: #f6f6f6;
}

.container__blue {
  background-color: #794eff;
}

.tag {
  display: inline-block;
  padding: 0 26px;
  color: #1e313b;
  border-radius: 100px;
}

.button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 42px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  text-align: center;
  line-height: 150%;
  padding: 9px 15px;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  -webkit-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
  border-radius: 6px;
}

.button-violet {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #794eff;
  color: #fff;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.button-violet:hover {
  background-color: #5e38d3;
}

.button-black {
  color: #fff;
  background-color: #1e313b;
}

.button-black:hover {
  background-color: #070411;
}

.button-white {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: black;
  background-color: #fff;
  border: 1px solid #000000;
}

.button-white:hover {
  background-color: #b7aae7;
}

.button-violet + .button-white {
  margin-left: 10px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 72px;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav__menu-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.nav__menu-item :hover {
  color: #794eff;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.nav__menu-item:not(:last-child) {
  margin: 0 32px 0 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1e313b;
}

.header__content {
  max-width: 587px;
}

.header__content-title {
  padding-top: 274px;
  font-size: 38px;
  line-height: 44px;
  color: #fff;
}

.header__content-title a {
  color: #794eff;
  padding-left: 28px;
  padding-right: 12px;
}

.header__content-subtitle {
  padding-top: 13px;
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
}

.header__content-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.header__content-email {
  padding-left: 24px;
  width: 376px;
  height: 44px;
  margin-right: 16px;
  padding-right: 25px;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
}

.header__content-sup {
  color: #fff;
  font-size: 12px;
  margin-bottom: 254px;
}

.header__content-sup a {
  padding-left: 25px;
  padding-right: 4px;
  color: #794eff;
}

.header__logo {
  margin-right: -45px;
  width: 100%;
}

.brands {
  text-align: center;
  padding-bottom: 100px;
}

.brands__title {
  font-size: 18px;
  color: #fff;
  margin-bottom: 40px;
}

.brands__list ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brands__list li:not(:last-child) {
  margin: 0 48px 0 0;
}

.features {
  padding-top: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__logo {
  min-width: 50%;
}

.features__content {
  max-width: 600px;
  margin-left: 60px;
}

.features__tag {
  background: rgba(255, 193, 71, 0.6);
  border: 2px solid #ffc147;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.features__title {
  font-size: 32px;
  font-weight: 700;
  line-height: calc(35 / 32 * 100%);
  margin-bottom: 18px;
}

.features__title a {
  color: #ffc147;
}

.features__subtitle {
  font-size: 16px;
  margin-bottom: 30px;
}

.features__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 127px;
}

.features__cards + .features__cards {
  margin: 24px;
}

.features__card-item {
  max-width: 288px;
  margin-bottom: 24px;
}

.features__card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 12px;
}

.features__card-img {
  margin-right: 17px;
}

.features__card-head {
  color: #ffc147;
}

.features__card-body {
  margin-left: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.stats {
  padding-top: 128px;
  padding-bottom: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stats__header {
  margin-right: 40px;
}

.stats__tag {
  background: rgba(151, 231, 71, 0.6);
  border: 2px solid #97e747;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.stats__title {
  font-size: 32px;
  font-weight: 400;
  line-height: calc(35 / 32 * 100%);
  max-width: 600px;
}

.stats__title a {
  color: #97e747;
  margin-left: 16px;
  margin-right: 4px;
}

.stats__body {
  max-width: 575px;
  margin-left: 40px;
}

.stats__text {
  margin-bottom: 37px;
  max-width: 575px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.stats__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stats__item {
  max-width: 288px;
  margin-right: 24px;
}

.stats__item span {
  font-size: 48px;
  line-height: 58px;
  color: #97e747;
}

.team {
  margin-top: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 127px;
}

.team__content {
  max-width: 600px;
}

.team__tag {
  background: rgba(121, 78, 255, 0.8);
  border: 2px solid #794eff;
  margin-bottom: 30px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.team__title {
  font-size: 32px;
  font-weight: 700;
  line-height: calc(35 / 32 * 100%);
  margin-bottom: 19px;
}

.team__title a {
  color: #794eff;
}

.team__subtitle {
  font-size: 18px;
  margin-bottom: 29px;
}

.buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 128px 0;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.buy__content {
  max-width: 768px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.buy__title {
  margin-top: 19px;
  margin-bottom: 19px;
  font-size: 32px;
  font-weight: 400;
  line-height: calc(35 / 32 * 100%);
}

.buy__text {
  max-width: 734px;
  padding: 0 17px 29px 17px;
}

.process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}

.process__content {
  max-width: 600px;
  margin-top: 128px;
}

.process__tag {
  background: rgba(255, 193, 71, 0.6);
  border: 2px solid #ffc147;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.process__title {
  font-size: 32px;
  font-weight: 700;
  line-height: calc(35 / 32 * 100%);
  margin-bottom: 48px;
}

.process__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 128px;
}

.process__steps {
  margin-top: 128px;
  margin-bottom: 85px;
}

.process__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  position: relative;
  padding-bottom: 85px;
}

.process__item:not(:last-child)::after {
  position: absolute;
  content: "|";
  top: 0;
  left: 30px;
  width: 2px;
  height: 100%;
  border-left: 2px solid rgba(0, 0, 0, 0.15);
  z-index: -1;
}

.process__icon {
  /*:not(:first-child)*/
}

.process__icon img {
  width: 62px;
  height: 63px;
  z-index: 33333;
}

.process__text h4 {
  margin-bottom: 12px;
}

.carousel {
  position: relative;
}

.carousel .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  list-style: none;
  padding-bottom: 138px;
}

.carousel .slick-dots button {
  font-size: 0px;
  border: none;
  padding: 0;
  margin: 0 6px;
  height: 8px;
  width: 8px;
  background-color: rgba(34, 34, 34, 0.4);
}

.carousel .slick-active button {
  background-color: #222222;
}

.carousel__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.carousel__item img {
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.carousel__item p {
  margin-bottom: 10px;
}

.carousel__img {
  padding-top: 128px;
}

.carousel__title {
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 28px;
  max-width: 727px;
}

.carousel__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.container__blue {
  padding: 64px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  border-radius: 48px;
  gap: 80px;
  height: 315px;
}

.form__content {
  max-width: 540px;
  min-width: 138px;
  margin-left: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__title {
  font-size: 32px;
  font-weight: 400;
  line-height: calc(35 / 32 * 100%);
  margin-bottom: 12px;
}

.form__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.form__email {
  max-width: 540px;
  margin-right: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__content-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 16px;
}

.form__content-email {
  padding-left: 24px;
  width: 364px;
  height: 44px;
  margin-right: 16px;
  padding-right: 25px;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
}

.form__content-sup {
  color: #1e313b;
  font-size: 12px;
}

.form__content-sup a {
  padding-left: 5px;
  padding-right: 4px;
  color: #794eff;
}

.blog {
  margin-top: 128px;
  margin-bottom: 128px;
}

.blog__tag {
  background: rgba(121, 78, 255, 0.8);
  border: 2px solid #794eff;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.blog__title {
  margin-bottom: 6px;
  font-size: 32px;
  font-weight: 700;
  line-height: calc(35 / 32 * 100%);
}

.blog__title a {
  color: #794eff;
}

.blog__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.blog__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px;
  width: 100%;
}

.blog__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 405px;
}

.blog__item-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 43px;
}

.blog__item-head {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}

.blog__item-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.blog__item-author img {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}

.blog__item-info p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.start {
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start__title {
  margin-top: 25px;
  font-weight: 400;
  font-size: 56px;
  line-height: 110%;
  color: #ffffff;
  margin-bottom: 19px;
}

.start__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  font-style: normal;
  color: #ffffff;
}

.start__button {
  width: 154px;
  height: 55px;
  border: 0;
}

.footer {
  margin: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*&__social-item{
      fill: #ccc;
   }*/
}

.footer__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__menu-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  color: #794eff;
  font-size: 16px;
}

.footer__menu-item :hover {
  text-decoration: underline;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.footer__menu-item:not(:last-child) {
  margin: 0 24px 0 0;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__social li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.footer__social li :hover {
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.footer__social li:not(:last-child) {
  margin: 0 12px 0 0;
}

.footer__bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright a {
  color: #794eff;
}

.footer__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__navbar-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #794eff;
}

.footer__navbar-item :hover {
  text-decoration: underline;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.footer__navbar-item:not(:last-child) {
  margin: 0 12px 0 0;
}

.footer__social > ul > li > a:hover {
  fill: #794eff;
}
