@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

button,
input[type="submit"] {
  background: none;
  cursor: pointer;
}

input:focus,
button:focus {
  outline: none;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #1e313b;
  line-height: 27px;
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

h2 {
  font-size: 32px;
}

.container {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
}

.container__black {
  background-color: #1e313b;
}

.container__gray {
  background-color: #f6f6f6;
}

.tag {
  display: inline-block;
  padding: 0 26px;
  color: #1e313b;
  border-radius: 100px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 42px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  text-align: center;
  line-height: 150%;
  padding: 9px 15px;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.button-violet {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #794eff;
  color: #fff;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.button-black {
  color: #fff;
  background-color: #1e313b;
}

.button-white {
  color: black;
  background-color: #fff;
  border: 1px solid #000000;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 72px;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav__menu-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.nav__menu-item :hover {
  color: #794eff;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.nav__menu-item:not(:last-child) {
  margin: 0 32px 0 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1e313b;
}

.header__content {
  max-width: 587px;
}

.header__content-title {
  padding-top: 274px;
  font-size: 38px;
  line-height: 44px;
  color: #fff;
}

.header__content-title a {
  color: #794eff;
  padding-left: 28px;
  padding-right: 12px;
}

.header__content-subtitle {
  padding-top: 13px;
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
}

.header__content-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.header__content-email {
  padding-left: 24px;
  width: 376px;
  height: 44px;
  margin-right: 16px;
  padding-right: 25px;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
}

.header__content-sup {
  color: #fff;
  font-size: 12px;
  margin-bottom: 254px;
}

.header__content-sup a {
  padding-left: 25px;
  padding-right: 4px;
  color: #794eff;
}

.header__logo {
  margin-right: -45px;
  width: 100%;
}

.brands {
  text-align: center;
  padding-bottom: 100px;
}

.brands__title {
  font-size: 18px;
  color: #fff;
  margin-bottom: 40px;
}

.brands__list ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brands__list li:not(:last-child) {
  margin: 0 48px 0 0;
}

.features {
  padding-top: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__logo {
  min-width: 50%;
}

.features__content {
  max-width: 600px;
  margin-left: 60px;
}

.features__tag {
  background: rgba(255, 193, 71, 0.6);
  border: 2px solid #ffc147;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.features__title {
  font-size: 32px;
  font-weight: 700;
  line-height: calc(35 / 32 * 100%);
  margin-bottom: 18px;
}

.features__title a {
  color: #ffc147;
}

.features__subtitle {
  font-size: 16px;
  margin-bottom: 30px;
}

.features__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 127px;
}

.features__cards + .features__cards {
  margin: 24px;
}

.features__card-item {
  max-width: 288px;
  margin-bottom: 24px;
}

.features__card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 12px;
}

.features__card-img {
  margin-right: 17px;
}

.features__card-head {
  color: #ffc147;
}

.features__card-body {
  margin-left: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.stats {
  padding-top: 128px;
  padding-bottom: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stats__header {
  margin-right: 40px;
}

.stats__tag {
  background: rgba(151, 231, 71, 0.6);
  border: 2px solid #97e747;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.stats__title {
  font-size: 32px;
  font-weight: 400;
  line-height: calc(35 / 32 * 100%);
  max-width: 600px;
}

.stats__title a {
  color: #97e747;
  margin-left: 16px;
  margin-right: 4px;
}

.stats__body {
  max-width: 575px;
  margin-left: 40px;
}

.stats__text {
  margin-bottom: 37px;
  max-width: 575px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.stats__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stats__item {
  max-width: 288px;
  margin-right: 24px;
}

.stats__item span {
  font-size: 48px;
  line-height: 58px;
  color: #97e747;
}

.team {
  margin-top: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 127px;
}

.team__content {
  max-width: 600px;
}

.team__tag {
  background: rgba(121, 78, 255, 0.8);
  border: 2px solid #794eff;
  margin-bottom: 30px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.team__title {
  font-size: 32px;
  font-weight: 700;
  line-height: calc(35 / 32 * 100%);
  margin-bottom: 19px;
}

.team__title a {
  color: #794eff;
}

.team__subtitle {
  font-size: 18px;
  margin-bottom: 29px;
}
