body {
   font-family: "Roboto", sans-serif;
   background-color: #fff;
   color: $color_text;
   line-height: 27px;
   overflow-x: hidden;
}

.no-scroll {
   overflow: hidden;
   height: 100vh;
}

h2 {
   font-size: 32px;
}

.container {
   box-sizing: content-box;
   max-width: 1280px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 80px;
   padding-right: 80px;
   &__black {
      background-color: $color_text;
   }
   &__gray {
      background-color: #f6f6f6;
   }
   &__blue {
      background-color: $color_violete;
   }
}
.tag {
   display: inline-block;
   padding: 0 26px;
   color: $color_text;
   border-radius: 100px;
}

.button {
   cursor: pointer;
   display: flex;
   min-height: 42px;
   justify-content: center;
   align-items: center;
   font-weight: 400;
   text-align: center;
   line-height: 150%;
   padding: 9px 15px;
   box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
   transition: background-color 0.3s ease-in;
   border-radius: 6px;

   &-violet {
      display: inline-flex;
      background-color: $color_violete;
      color: #fff;
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
      border-radius: 6px;
      &:hover {
         background-color: #5e38d3;
      }
   }

   &-black {
      color: #fff;
      background-color: $color_text;
      &:hover {
         background-color: #070411;
      }
   }
   &-white {
      display: inline-flex;
      color: rgb(0, 0, 0);
      background-color: #fff;
      border: 1px solid #000000;
      &:hover {
         background-color: #b7aae7;
      }
   }
   &-violet + &-white {
      margin-left: 10px;
   }
}

.nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 72px;
   &__menu {
      display: flex;
      flex-direction: row;
   }
   &__menu-item {
      display: inline-flex;
      transition: color 0.3s ease-in;
      :hover {
         color: $color_violete;
         transition: color 0.3s ease-in;
      }
      &:not(:last-child) {
         margin: 0 32px 0 0;
      }
   }
}

.header {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: $color_text;
   &__content {
      max-width: 587px;
   }

   &__content-title {
      padding-top: 274px;
      font-size: 38px;
      line-height: 44px;
      color: #fff;
      a {
         color: $color_violete;
         padding-left: 28px;
         padding-right: 12px;
      }
   }

   &__content-subtitle {
      padding-top: 13px;
      font-size: $text_18;
      color: #fff;
      margin-bottom: 30px;
   }

   &__content-form {
      display: flex;
      margin-bottom: 16px;
   }

   &__content-email {
      padding-left: 24px;
      width: 376px;
      height: 44px;
      margin-right: 16px;
      padding-right: 25px;
      border: 1px solid #000000;
      box-sizing: border-box;
      border-radius: 6px;
   }

   &__content-sup {
      color: #fff;
      font-size: 12px;
      margin-bottom: 254px;
      a {
         padding-left: 25px;
         padding-right: 4px;
         color: $color_violete;
      }
   }

   &__logo {
      margin-right: -45px;
      width: 100%;
   }
}

.brands {
   text-align: center;
   padding-bottom: 100px;
   &__title {
      font-size: 18px;
      color: #fff;
      margin-bottom: 40px;
   }
   &__list ul {
      display: inline-flex;
      align-items: center;
      justify-content: center;
   }
   &__list li {
      &:not(:last-child) {
         margin: 0 48px 0 0;
      }
   }
}

.features {
   padding-top: 128px;
   display: flex;
   justify-content: space-between;
   &__logo {
      min-width: 50%;
   }

   &__content {
      max-width: 600px;
      margin-left: 60px;
   }

   &__tag {
      background: rgba(255, 193, 71, 0.6);
      border: 2px solid #ffc147;
      margin-bottom: 30px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
   }

   &__title {
      @include header;
      margin-bottom: 18px;
      a {
         color: $color_yellow;
      }
   }

   &__subtitle {
      font-size: $text_16;
      margin-bottom: 30px;
   }

   &__cards {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 100px;
   }

   &__cards + &__cards {
      margin: 24px;
   }

   &__card-item {
      max-width: 288px;
      margin-bottom: 24px;
   }

   &__card-title {
      display: flex;
      font-size: $text_18;
      font-weight: 400;
      margin-bottom: 12px;
   }

   &__card-img {
      margin-right: 17px;
   }

   &__card-head {
      color: $color_yellow;
   }

   &__card-body {
      margin-left: 40px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
   }
}

.stats {
   padding-top: 128px;
   padding-bottom: 128px;
   display: flex;
   justify-content: space-between;
   align-items: center;

   &__header {
      margin-right: 40px;
   }

   &__tag {
      background: rgba(151, 231, 71, 0.6);
      border: 2px solid #97e747;
      margin-bottom: 30px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
   }

   &__title {
      @include header_norm;
      max-width: 600px;
      a {
         color: $color_green;
         margin-left: 16px;
         margin-right: 4px;
      }
   }

   &__body {
      max-width: 575px;
      margin-left: 40px;
   }

   &__text {
      margin-bottom: 37px;
      max-width: 575px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
   }

   &__list {
      display: flex;
   }

   &__item {
      max-width: 288px;
      margin-right: 24px;
      span {
         font-size: 48px;
         line-height: 58px;
         color: $color_green;
      }
   }
}

.team {
   margin-top: 128px;
   display: flex;
   align-items: center;
   margin-bottom: 127px;
   &__content {
      max-width: 600px;
   }

   &__tag {
      background: rgba(121, 78, 255, 0.8);
      border: 2px solid #794eff;
      margin-bottom: 30px;
      color: #fff;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
   }

   &__title {
      @include header;
      margin-bottom: 19px;
      a {
         color: $color_violete;
      }
   }

   &__subtitle {
      font-size: $text_18;
      margin-bottom: 29px;
   }
}

.buy {
   display: flex;
   padding: 128px 0;
   text-align: center;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   &__content {
      max-width: 768px;
      text-align: center;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
   }

   &__title {
      margin-top: 19px;
      margin-bottom: 19px;
      @include header-norm;
   }

   &__text {
      max-width: 734px;
      padding: 0 17px 29px 17px;
   }
}

.process {
   display: flex;
   align-items: center;
   gap: 80px;
   // margin-bottom: 128px;
   &__content {
      max-width: 600px;
      margin-top: 128px;
   }

   &__tag {
      background: rgba(255, 193, 71, 0.6);
      border: 2px solid #ffc147;
      margin-bottom: 30px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
   }

   &__title {
      @include header;
      margin-bottom: 48px;
   }

   &__button {
      display: inline-flex;
      margin-bottom: 128px;
   }

   &__steps {
      margin-top: 128px;
      margin-bottom: 35px;
   }

   &__item {
      display: flex;
      gap: 40px;
      position: relative;
      padding-bottom: 85px;
      &:not(:last-child)::after {
         position: absolute;
         content: "|";
         top: 0;
         left: 30px;
         width: 2px;
         height: 100%;
         border-left: 2px solid rgba(0, 0, 0, 0.15);
         z-index: -1;
      }
   }

   &__icon {
      img {
         width: 62px;
         height: 63px;
         z-index: 33333;
      } /*:not(:first-child)*/
   }

   &__text {
      h4 {
         margin-bottom: 12px;
      }
      p {
      }
   }
}
.carousel {
   position: relative;
   & .slick-dots {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      list-style: none;
      padding-bottom: 138px;
   }
   & .slick-dots button {
      font-size: 0px;
      border: none;
      padding: 0;
      margin: 0 6px;
      height: 8px;
      width: 8px;
      background-color: rgba(34, 34, 34, 0.4);
   }
   & .slick-active button {
      background-color: #222222;
   }
   &__inner {
   }

   &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 0 auto;
      img {
         padding-bottom: 15px;
         display: flex;
         align-items: center;
         justify-content: center;
         text-align: center;
         margin: 0 auto;
      }
      p {
         margin-bottom: 10px;
      }
   }
   &__img {
      padding-top: 128px;
   }

   &__title {
      margin: 0 auto;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 140%;
      text-align: center;
      margin-bottom: 28px;
      max-width: 727px;
   }

   &__item-img {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 0 auto;
   }
}
.container {
   &__blue {
      padding: 64px;
   }
}
.form {
   display: flex;
   //padding: 96px;
   background-color: #fff;
   border-radius: 48px;
   gap: 80px;
   height: 315px;

   &__content {
      max-width: 540px;
      min-width: 138px;
      margin-left: 96px;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   &__title {
      @include header_norm;
      margin-bottom: 12px;
   }

   &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
   }

   &__email {
      max-width: 540px;
      // margin-top: 120px;
      margin-right: 96px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   &__content-form {
      display: flex;
      flex-direction: row;
      margin-bottom: 16px;
   }

   &__content-email {
      padding-left: 24px;
      width: 364px;
      height: 44px;
      margin-right: 16px;
      padding-right: 25px;
      border: 1px solid #000000;
      box-sizing: border-box;
      border-radius: 6px;
   }

   &__content-sup {
      color: $color_text;
      font-size: 12px;
      //margin-bottom: 254px;
      a {
         padding-left: 5px;
         padding-right: 4px;
         color: $color_violete;
      }
   }
}
.blog {
   margin-top: 128px;
   margin-bottom: 128px;
   &__content {
   }

   &__tag {
      background: rgba(121, 78, 255, 0.8);
      border: 2px solid $color_violete;
      margin-bottom: 30px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #fff;
   }

   &__title {
      margin-bottom: 6px;
      @include header;
      a {
         color: $color_violete;
      }
   }

   &__text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 35px;
   }

   &__cards {
      display: flex;
      justify-content: space-between;
      gap: 32px;
      width: 100%;
   }

   &__item {
      width: 100%;
      display: flex;
      flex-direction: column;
      max-width: 405px;
   }

   &__item-img {
      width: 100%;
      display: flex;
      margin-bottom: 43px;
   }
   &__item-head {
      margin-bottom: 10px;
      font-weight: 400;
      font-size: 24px;
      line-height: 34px;
   }

   &__item-author {
      display: flex;
      margin-top: 16px;
      img {
         width: 48px;
         height: 48px;
         margin-right: 16px;
      }
   }

   &__item-info {
      p {
         font-weight: 400;
         font-size: 14px;
         line-height: 21px;
      }
   }
}

.start {
   padding-top: 25px;
   // height: 160px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   &__content {
   }

   &__title {
      margin-top: 25px;
      font-weight: 400;
      font-size: 56px;
      line-height: 110%;
      color: #ffffff;
      margin-bottom: 19px;
   }

   &__text {
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      font-style: normal;
      color: #ffffff;
   }

   &__button {
      width: 154px;
      height: 55px;
      border: 0;
   }
}

.footer {
   margin: 80px 0;
   display: flex;
   flex-direction: column;

   &__top-row {
      display: flex;
      margin-bottom: 32px;
      align-items: center;
      justify-content: space-between;
   }

   &__logo {
   }

   &__menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }

   &__menu-item {
      display: inline-flex;
      transition: 0.3s ease-in;
      color: $color_violete;
      font-size: 16px;
      :hover {
         text-decoration: underline;
         transition: color 0.3s ease-in;
      }
      &:not(:last-child) {
         margin: 0 24px 0 0;
      }
   }

   &__social {
      display: flex;
      transition: color 0.3s ease-in;
      flex-direction: row;
      li {
         display: inline-flex;
         transition: color 0.3s ease-in;
         :hover {
            transition: color 0.3s ease-in;
         }
         &:not(:last-child) {
            margin: 0 12px 0 0;
         }
      }
   }

   &__bottom-row {
      display: flex;
      justify-content: space-between;
   }

   &__copyright {
      a {
         color: $color_violete;
      }
   }

   &__navbar {
      display: flex;
      transition: color 0.3s ease-in;
      flex-direction: row;
   }
   &__navbar-item {
      display: inline-flex;
      transition: 0.3s ease-in;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #794eff;
      :hover {
         text-decoration: underline;
         transition: color 0.3s ease-in;
      }
      &:not(:last-child) {
         margin: 0 12px 0 0;
      }
   }
   &__social-item:hover {
      fill: $color_violete;
   }
}
/*
.footer__social > ul > li > a:hover {
   fill: $color_violete;
}*/
