$color_violete: #794eff;
$color_green: #97e747;
$color_yellow: #ffc147;
$color_text: #1e313b;
$text_18: 18px;
$text_16: 16px;
$text_14: 14px;
$header_size: 32px;

@mixin header {
   font-size: $header_size;
   font-weight: 700;
   line-height: calc(35 / 32 * 100%);
}
